[Unit]
Description=Envoy Proxy as a Consul Connect sidecar
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/consul connect envoy -sidecar-for={{ consul_service_name }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
